section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.date-block {
  display: flex;
  flex-direction: column;
}

.events-block {
  width: 50vh;
  border: black 1px solid;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  h3 {
    color: blue;
  }

  .btns {
    display: none;
  }
}

.events-block:hover {
  .btns {
    display: block;
  }
}

